$bgGreyishWhite: #EAEAEA;
$almostBlack: #101010;
$blueishBlack: #1C1C27;
$greyColor: #838383;
$orangeColor: #FFA542;
$tintedBG: #b7b7b7;
$redColor: #DF6464;
$darkenedWhite: #F9F9F9;
$absBlack: #000;
$whatsappColor: #43D854;

$font-weights: (
    "thin" : 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700
);