$bgGreyishWhite: #EAEAEA;
$almostBlack: #101010;
$blueishBlack: #1C1C27;
$greyColor: #838383;
$orangeColor: #FFA542;

$font-weights: (
    "thin" : 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700
);