@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import './variables';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    max-width: 100vw;
}

body {
    min-height: 100vh;
    background: $bgGreyishWhite;
    position: relative;
}

.cover {
    z-index: 11;
    position: fixed;
    background-color: $tintedBG;
    opacity: 0.7;
    width: 100vw;
    height: 120vh;
    top: -10vh;
}

.smooth-return {
    transition: all .2s ease, opacity .5s ease-in-out !important;
}

.highlight {
    filter: brightness(1)
}

.fading {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.swiper-slide {
    width: 100% !important;
    min-height: 100%;
}

.swiper-pagination {
    bottom: 0 !important;
    opacity: 0;
}

.swiper {
    padding-bottom: 20px;
}

.visiblePaginator {
    opacity: 1;
}

.selected::after {
    // outline: 2px solid $orangeColor;  
    opacity: 1 !important;
    transition: opacity .2s;

}

#swiper {
    border-radius: 20px;
}

.swiper-pagination-bullet {
    border-radius: 100%;
    height: 7px;
    width: 7px;
    opacity: 1 !important;
    background-color: $greyColor;

    &-active {
        border-radius: 100%;
        height: 7px;
        width: 7px;
        opacity: 1 !important;
        background-color: $orangeColor;
        transform: scale(1.3);
    }
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}