@import './variables';

@function weight($weigh-name) {
    @return map-get($map: $font-weights, $key: $weigh-name)
}

;

.active {
    left: unset;
    right: 0;
}

.menu {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 100%;
    clear: both;
    background: $bgGreyishWhite;
    width: 100%;
    height: 100%;

}
