@import './variables';

@function weight($weigh-name) {
    @return map-get($map: $font-weights, $key: $weigh-name)
}

;

.active {
    left: 30% !important;
    transition: left .4s;
    right: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
    border: 1px solid black;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 100%;
    clear: both;
    background: $bgGreyishWhite;
    width: 70%;
    max-height: 70%;
    padding: 15px 23px 25px;
    font-family: 'Montserrat', sans-serif;

    border-bottom-left-radius: 20px;

    .menuItem {
        display: flex;
        align-items: center;
        gap: 10px;

        .menuItemTitle {
            font-style: normal;
            font-weight: weight(medium);
            font-size: 15px;
            line-height: 18px;
            color: $almostBlack;
        }
    }

    .langChose {
        display: flex;
        align-items: center;

        .active {
            color: $orangeColor;
        }

        div {
            margin-bottom: unset;
            font-size: 15px;
            line-height: 18px;
            font-weight: weight(medium);
        }
    }

    h3 {
        position: relative;
    }

    h3::after {
        position: absolute;
        left: calc(100% + 5.5px);
        top: -2px;
    }

    h3[data-active="true"]::after {
        content: url(../src/imgs/tickUp.svg);
    }

    h3[data-active="false"]::after {
        content: url(../src/imgs/tickDown.svg);
    }

    .models {
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: height .5s;
        margin-top: -17px;

        .model {
            margin-top: 10px;
            flex-direction: column;


            .brandName {

                position: relative;
                margin-left: 42px;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
            }

            .brandName::before {
                position: absolute;
                left: -14.5px;
                top: -2px;
            }

            .brandName[data-brandActive="true"]::before {
                content: url(../src/imgs/tickUp.svg);
            }

            .brandName[data-brandActive="false"]::before {
                content: url(../src/imgs/tickDown.svg);
            }

            .modelName[data-brandActive="false"] {
                display: none;
            }
        }

    }

    .models[data-active="true"] {
        display: block;
        height: fit-content;
        max-height: 700px;
    }

    .models[data-active="false"] {
        display: none;
        height: 0px;
        max-height: 0px;
    }
}